# grub.cfg - SilvioLinux Minimal 1.0 (Aurora)
# GRUB sem imagem de fundo (menu em modo texto puro)

default=0
timeout=5

# Nenhuma diretiva "background_image" é usada propositalmente.
insmod ext2

menuentry 'SilvioLinux Minimal 1.0 (Aurora)' {
    search --no-floppy --set=root --label boot
    linux /vmlinuz root=/dev/sda2 rootfstype=ext4 rootwait console=ttyS0,115200 console=tty0 quiet
    initrd /initrd
}

menuentry 'SilvioLinux Minimal 1.0 (Aurora) - modo failsafe' {
    search --no-floppy --set=root --label boot
    linux /vmlinuz root=/dev/sda2 rootfstype=ext4 rootwait single
    initrd /initrd
}
